/* Without margin and with less padding, check with Mikah which one she likes better */
/* .page-content-container {
  max-width: 1200px;
  padding: 1rem;
} */

.page-content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.full-height {
  height: 100%;
}
.purple-background {
  background-color: #c1bad9;
}
.yellow-background {
  background-color: #ebd0a0;
}